%h2= "【#{@user.name}】"

%table.table.table-striped
  %thead
    %tr
      %th= '年月'
      %th= 'メモ'
      %th= '最終更新'
  %tbody
    - @rosters.each do |roster|
      %tr
        %td
          = "#{roster.year + "/" + roster.month}:"
          = link_to "編集", edit_company_user_roster_path(@current_company, @user, roster), class: 'btn btn-primary'
          = link_to "確認", company_user_roster_path(@current_company, @user, roster), class: 'btn btn-success'
        %td= roster.memo
        %td=l roster.updated_at
