%h1 社員一覧

%table.table.table-striped.table-hover
  %thead
    %tr
      %th 所属
      %th 氏名
      %th 派遣先
      %th 先月勤務表の状態
      %th メモ

  %tbody
    - @users.each do |user|
      %tr
        %td= user.company.name
        %td= user.name
        %td= user.partner.try(:name)
        %td= link_to get_roster_status(user.rosters.try(:reverse).try(:second).try(:status)), company_user_rosters_path(user.company, user), method: :get
        %td= user.rosters.try(:reverse).try(:second).try(:memo)

