= simple_form_for @company.to_company, html: { class: 'form-horizontal' } do |f|
  = f.input :name
  = f.input :code
  = f.button :submit, class: 'btn-primary'
  = link_to t('.cancel', default: t("helpers.links.cancel")), companies_path, class: 'btn btn-default'
